::-webkit-scrollbar {
  background-color: transparent;
width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e88181;
  border-radius:15px;
  width: 1px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: #EF4444;
  
}
